In [1]:
# Check the dataset
from google.cloud import bigquery

client = bigquery.Client()

dataset_ref = client.dataset("hacker_news", project = "bigquery-public-data")
dataset = client.get_dataset(dataset_ref)

table_ref = dataset_ref.table("full")
table = client.get_table(table_ref)

client.list_rows(table, max_results = 5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,<NA>,None,<NA>,1437658247,2015-07-23 13:30:47+00:00,story,9935559,<NA>,<NA>,<NA>,<NA>
1,None,None,None,True,None,<NA>,1437659385,2015-07-23 13:49:45+00:00,story,9935679,<NA>,<NA>,<NA>,<NA>
2,None,None,None,True,None,<NA>,1437659939,2015-07-23 13:58:59+00:00,story,9935727,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1437660102,2015-07-23 14:01:42+00:00,story,9935750,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1437661549,2015-07-23 14:25:49+00:00,story,9935894,<NA>,<NA>,<NA>,<NA>

In [2]:
# Query to select comments that received more than 10 replies
query_popular = """
                SELECT parent, COUNT(id)
                FROM `bigquery-public-data.hacker_news.full`
                GROUP BY parent
                HAVING COUNT(id) > 10
"""

In [3]:
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query_job = client.query(query_popular, job_config = safe_config)


popular_comments = query_job.to_dataframe()

popular_comments.head()

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

    parent  f0_
0  9138134   47
1  9168608   47
2  9242217   64
3  9251577   72
4  8851902   66

In [4]:
# Aliasing -- As NumPosts
query_improved = """
                SELECT parent, COUNT(1) AS NumPosts
                FROM `bigquery-public-data.hacker_news.full`
                GROUP BY parent
                HAVING COUNT(1) > 10
                """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query_job = client.query(query_improved, job_config = safe_config)

improved_df = query_job.to_dataframe()

improved_df.head()

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

    parent  Numposts
0  9946399        79
1  9961527        52
2  9961537        49
3  8902071        70
4  8944483        45